.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# bot token
variables.json

# python leftovers
.venv/
__pycache__/

[0-9]*.csv
csv/

# pyinstaller
build/
dist/
pyinst/
*.spec

.mypy_cache/

*.png

test.py
pandas_test.py